html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    background: #EFEFEF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer {
    position: relative;
    top: -1px; left: 0;
    margin-top: 0;
    border-top: 1px solid #E1E1E1;
}

#vpm-dashboard {
    position: relative;
    top: 0; left: 0;

    margin: 0 auto;
    width: 1200px;

    h1 {
        margin: 0;
        padding: 0;
        line-height: 40px;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            line-height: inherit;
        }
    }

    .vpm-options {
        margin-top: 10px;

        li {
            display: inline;
            margin-right: 10px;

            input {
                margin: 0 0 5px 0;
            }

            label {
                display: inline;
                margin: 5px 0 0 5px;
                font-size: 12px;
                color: #A3A3A3;
            }
        }
    }

    > header {
        position: relative;
        top: 0; left: 0;

        height: 72px;
        background-color: #F1F1F1;
        border-bottom: 1px solid #E1E1E1;

        h1 {
            text-indent: -10000px;
        }

        .vpm-options {
            position: absolute;
            top: 20px; left: 910px;
        }
    }

    @import "variables.less";

    @import "vpm/menu.less";

    @import "vpm/charts.less";

    &.vpm-loading {
        
        min-height: 370px;
        font-size: 16px;
        font-weight: bold;
        line-height: 288px;
        text-align: center;
        background: transparent url(../images/preloader.gif) center center no-repeat;

        > header {
            border-bottom: none;

            &:after {
                content: "Loading...";
            }

            .vpm-options {
                display: none;
            }
        }

        #vpm-menu, #vpm-charts {
            display: none;
        }
    }

    &:not(.vpm-loading) {
        background: #F6F6F6;

        border-left: 1px solid #E1E1E1;
        border-right: 1px solid #E1E1E1;
    }
}