#vpm-charts {
    background: #FFF;

    h1 {
        margin: 0;
        padding: 0;
    }

    section {
        > h1 {
            padding: 17px 25px 0 35px;
            font-size: 24px;
        }

        > ul > li.vpm-even {
            background-color: #F1F1F1;

            .vpm-loading .vpm-status {
                background-color: rgba(241, 241, 241, 0.8);
            }
        }

        article {
            position: relative;
            top: 0; left: 0;

            padding: 0 25px 40px 35px;

            h1 {
                padding-top: 10px;
                font-size: 12px;
                text-transform: uppercase;
                color: #A3A3A3;
            }

            .vpm-status,
            .vpm-chart {
                width: @chart-width;
                min-height: @chart-height;
            }

            .vpm-status {
                position: absolute;
                bottom: 30px; left: 25px;

                font-size: 16px;
                font-weight: bold;
                line-height: @chart-height;
                text-align: center;
            }

            .vpm-chart {
                svg {
                    display: block;

                    width: @chart-width;
                    height: @chart-height;

                    .nvd3 .nv-axis {
                        text {
                            font-size: 12px;
                            font-weight: bold;
                            text-transform: uppercase;
                            fill: #F06212;
                        }

                        path {
                            stroke: none; // hide the axis
                        }
                    }
                }

                .vpm-axis-x,
                .vpm-axis-y {
                    font-size: 11px;
                    font-weight: bold;
                    color: #A3A3A3;
                }

                .vpm-axis-x {
                    text-align: center;
                }

                .vpm-axis-y {
                    position: absolute;
                    top: 220px; left: 40px;
                    width: 70px;
                    text-align: right;
                }

                table {
                    margin-top: 25px;
                    border-collapse: collapse;

                    th {
                        text-align: center;
                    }

                    th, td {
                        padding: 10px;
                        border: 1px solid #E1E1E1;
                    }
                }

                .vpm-pager {
                    width: 160px;
                    margin: 0 auto;
                    padding: 10px 0;

                    li {
                        display: inline;
                        font-size: 14px;

                        &:first-child {
                            padding: 5px 10px 5px 0;
                        }

                        &:last-child {
                            padding: 5px 0 5px 10px;
                        }

                        a {
                            text-decoration: none;

                            &.disabled {
                                color: #E1E1E1;
                                cursor: default;
                            }
                        }
                    }
                }
            }

            &.vpm-loading {
                .vpm-status {
                    background: rgba(255, 255, 255, 0.8) url(../images/preloader.gif) center center no-repeat;
                }
            }

            &.vpm-error {
                .vpm-status {
                    color: red;
                }

                .vpm-chart > * {
                    display: none;
                }
            }

            footer {
                position: absolute;
                top: 0; left: (@chart-width + 50px);
                width: 100px;

                h1 {
                    text-align: right;
                }

                .vpm-dates-selector {
                    label {
                        display: block;
                        margin-bottom: 5px;
                        line-height: 20px;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: right;
                        text-transform: uppercase;
                        color: #A3A3A3;
                    }

                    input {
                        width: 75px;
                        height: 17px;
                        margin-bottom: 10px;
                        padding: 0 20px 0 5px;
                        font-size: 12px;
                        line-height: 17px;
                        color: #B6B6B6;
                        background: #FFF url(../images/date-picker.png) right center no-repeat;
                        border: 1px solid #CBCBCB;
                        border-radius: 0;
                    }
                }

                .vpm-age-groups-selector {
                    li {
                        margin: 3px 0;

                        a {
                            display: block;
                            padding: 4px;
                            text-align: right;
                            text-decoration: none;
                            color: #A3A3A3;
                        }

                        a:hover,
                        &.vpm-active a {
                            color: #FFF;
                        }

                        a[data-group = '1-6']:hover,
                        &.vpm-active a[data-group = '1-6'] {
                            background-color: #D33178;
                        }

                        a[data-group = '6-8']:hover,
                        &.vpm-active a[data-group = '6-8'] {
                            background-color: #864BC5;
                        }

                        a[data-group = '8-10']:hover,
                        &.vpm-active a[data-group = '8-10'] {
                            background-color: #82C8EB;
                        }

                        a[data-group = '10-13']:hover,
                        &.vpm-active a[data-group = '10-13'] {
                            background-color: #DBA233;
                        }

                        a[data-group = '13-15']:hover,
                        &.vpm-active a[data-group = '13-15'] {
                            background-color: #72C998;
                        }

                        a[data-group = '15+']:hover,
                        &.vpm-active a[data-group = '15+'] {
                            background-color: #4565EE;
                        }
                    }
                }

                a.vpm-download {
                    display: block;
                    margin-top: 25px;
                    padding: 7px 7px 7px 10px;
                    font-size: 11px;
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #8D8D8D;
                    background: #D4D4D4;

                    span {
                        display: block;
                        padding-right: 25px;
                        background: transparent url(../images/download.png) right center no-repeat;
                    }
                }
            }
        }
    }
}