#vpm-menu {
    position: absolute;
    top: 0; left: 0;

    padding: 0;
    text-transform: uppercase;

    li {
        float: left;

        a {
            display: block;
            padding: 0 35px;

            font-weight: bold;
            color: #A3A3A3;

            line-height: 72px;
            text-decoration: none;

            border-right: 1px solid #E1E1E1;
        }

        > ul {
            display: none;
        }

        & a:hover,
        &.vpm-active a {
            background-color: #FFF;
        }
    }
}