.nvd3 .nv-group {
    fill-opacity: 1 !important;
}

.nvd3 .nv-y .tick line {
    opacity: 0;
}

.transaction-trends .month .nvd3 .nv-x .tick line {
    opacity: 0 !important;
}

.transaction-trends .month .nvd3 .nv-y .tick line {
    opacity: 1;
}

.nvd3 .nv-axis text {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    fill: #F06212;
}

.nvd3 .nv-axis path {
    stroke: none; /* hiding the axis */
}